/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* END RESET */

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    width: 80%;
    margin: auto;
}

img{
    width: 100%;
}

/* Proprietà comuni a tutte le immagini.
Ho utilizzato object-fit quindi devo dare un'altezza fissa al padre
e ho dato position:absolute al layover quindi devo dare position:relative al padre */
.object-fit img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.layover{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
}
/* END COMMON */

/* HEADER */
/* Logo */
.logo img{
    width: 150px;
}

/* Nav */
.menu{
    margin: 20px 0;
    padding: 2% 0;
}

.menu ul{
    list-style-type: none;
}
.menu li{
    display: inline-block;
    margin: 0 5px;
}
.menu a{
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
}

/* Banner */
.banner{
    height: 400px;
    position: relative;
}

.title-container{
    position: absolute;
    bottom: 50px;
    left: 40px;
    width: 60%;
    color: white;
}
.title-container h1{
    font-size: 30px;
    font-weight: 300;
}
.title-container h3{
    font-size: 15px;
    font-weight: 300;
}
/* END HEADER */

/* MAIN */
main{
    margin-top: 20px;
    padding-bottom: 20px;
}

/* Title Main*/
.main-title{
    padding: 10px 0;
}
.main-title h2{
    font-size: 40px;
}

.grey-test{
    color: grey;
    font-size: 16px;
}

/* Content Main */
.main-content{
    margin-top: 20px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

main .col{
    float: left;
    height: 300px;
    background-color: #abcfe7;
}

main .col-left,
main .col-right{
    width: 25%;
}

main .col-center{
    width: 46%;
    margin: 0 2%;
}
/* END MAIN */

/* FOOTER */
footer{
    margin: 10px 0 20px 0;
    background-color: #8801fe;
    height: 50px;
}
/* END FOOTER */

